@font-face{
    font-family: "cctyt";
    src: url(../resource/font/cctyt.ttf);
}
*{
    margin: 0;
    padding: 0;
    -webkit-appearance:none;
    font-family: dashicons, 'Segoe UI', 'WenQuanYi Micro Hei', 'WenQuanYi Micro Hei Mono', 'Microsoft Yahei', 'Microsoft Yahei Mono', 微软雅黑, sans-serif;
}
input,button,select,textarea{outline:none}
html{height: 100%}
body{
    height: 100%;
    background-image: url(../resource/pic/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
}
ul, ol, li{list-style: none;}
.fl{float: left}
.fr{float: right}
.css-center{
    margin-left: auto;
    margin-right: auto;
}
#nav-wrapper{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: transparent;
}
#nav{
    width: 80%;
    
}
#nav li{
    font-family: 微软雅黑;
    color: white;
    opacity: 0.9;
    font-weight: bold;
    display: inline-block;
}
